@charset "UTF-8";

body{
    background-image: url(img/背景.png);
    font-size : 20px;
    font-family: HG正楷書体-PRO;
    background-size: auto; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center;
}

h2{
    font-size: 35px;

}

.name{
    text-decoration:underline 3px solid black;
}

.birth{
    text-decoration:underline 3px solid black;
}

.favskill{
    text-decoration:underline 3px solid black;
}

.glad{
    text-decoration:underline 3px solid black;
}

.top{
    text-align: right;
}

.EURO{
    width: 280px;
    height: 190px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 auto;
}

.CH{
    width: 280px;
    height: 190px;
    border-radius: 5px;
}

.EP{
    width: 280px;
    height: 190px;
    border-radius: 5px;
}

.N2Y{
    width: 280px;
    height: 190px;
    border-radius: 5px;
}

ul{
    display: flex;
   
}

li{
    list-style: none;
  }

  li:nth-child(3) {
    margin: 0 10px;
  }