@charset "UTF-8";

body{
    background-image: url(img/背景.png);
    font-size : 20px;
    font-family: HG正楷書体-PRO;
    background-size: auto;
}

h2{
    font-size: 35px;

}

.name{
    text-decoration:underline 3px solid black;
}

.birth{
    text-decoration:underline 3px solid black;
}

.favskill{
    text-decoration:underline 3px solid black;
}

.glad{
    text-decoration:underline 3px solid black;
}

.top{
    text-align: right;
}

.EURO{
    width: 300px;
    height: 200px;
}