body{
    background-image: url("img/taka.jpg");
    font-family: "HGP教科書体";
}

h1{
    font-family: "HGP教科書体";
    font-size: 40;
    margin: auto;
    text-align: center;
    color: 	purple;
    background-color: aliceblue;
}
h2{
    font-size: 30;
    text-align: right;
    color: mediumturquoise;
    display: inline-block;
    border-bottom: #6927FF solid 1px;
}

p{
    color:#6927FF;
}

img{
    display: inline-block;
    width: 100%;
}

table{
    width: 700px;
    height: 300px;
    background-color: gray;
    color: black;
   
}
td{
    color: blueviolet;
    width: 20px;
    height: 30%; 
}

th{
    text-align: center;
    color: pink;
}

a{
    font-size: 200%;
    color: white;
}