@charset "utf-8";
body{
   
    background-image: url(img/スネーク_2.jpg);
    background-size: cover;
    text-shadow: 2px  2px 3px white,
                -2px  2px 3px white,
                 2px -2px 3px white,
                -2px -2px 3px white;
}
h2{
   
    position: relative;
    font-size: 26px;
    text-align: center;
}
h1{
    font-size: 36px;
    text-align: center;
    
}
h3{
    font-size: 20px;
    text-align: center;
    
}
h4{
    text-align: center;
}
#sansen{
    height: 140px;
    background-image: url(img/参戦.gif);
    background-repeat: no-repeat;
    background-position:580px 20px;
    background-size: 20%;
}
#modoru{
    text-align: right;
}
#koumoku{
    color: brown;
}