@charset "utf-8";
body{
    text-align: center;
    background-image: url(img/スネーク_2.jpg);
    background-size: cover;
    text-shadow: 2px  2px 3px white,
                -2px  2px 3px white,
                 2px -2px 3px white,
                -2px -2px 3px white;
}
h2{
   
    position: relative;
    font-size: 26px;
    text-align: center;
}
h1{
    font-size: 36px;
}
h3{
    font-size: 20px;
}